.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
.header__inner {
  margin: 0 45px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  position: relative;
}
.header__inner .logo {
  display: flex;
  align-items: center;
}

.screen.active {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.7;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  z-index: 1;
}
.navigation .nav-menu {
  position: fixed;
  top: 0;
  transform: translateX(-200px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  width: 300px;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.navigation .nav-menu__list {
  margin-top: 60px;
  margin-bottom: 70px;
  margin-left: 25px;
}
.navigation .nav-menu__list li {
  margin-right: 25px;
  border-top: 1px solid #fff;
}
.navigation .nav-menu__list li a {
  line-height: 65px;
}
.navigation .nav-menu__list li:last-child {
  border-bottom: 1px solid #fff;
}
.navigation .nav-menu__sns-link {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
.navigation .nav-menu__sns-link a {
  margin-bottom: 20px;
}

.navigation.active {
  visibility: visible;
  width: 100vw;
  height: 100vh;
}
.navigation.active .nav-menu {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
}

.headline {
  margin-bottom: 45px;
}
.headline h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .header__inner {
    margin: 0 20px 0;
  }
}
.hamburger {
  z-index: 5;
  height: 80px;
  width: 30px;
  position: relative;
}
.hamburger__line {
  position: absolute;
  display: block;
  background-color: #000;
  height: 2px;
  width: 30px;
  transition: all 0.5s;
}
.hamburger__line:nth-child(1) {
  top: 30px;
}
.hamburger__line:nth-child(2) {
  top: 40px;
}
.hamburger__line:nth-child(3) {
  top: 50px;
}

.hamburger.active .hamburger__line {
  background-color: #fff;
}
.hamburger.active .hamburger__line:nth-child(1) {
  top: 40px;
  transform: rotate(315deg);
}
.hamburger.active .hamburger__line:nth-child(2) {
  display: none;
}
.hamburger.active .hamburger__line:nth-child(3) {
  top: 40px;
  transform: rotate(-315deg);
}

.topview {
  width: 100%;
}
.topview__movie video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  video {
    height: 850px;
  }
}
.pickup {
  display: block;
  margin-top: 125px;
  margin-bottom: 110px;
}
.pickup__slideshow {
  display: flex;
  height: 100%;
}
.pickup__slideshow--li[class] {
  height: 100%;
  display: flex;
  justify-content: center;
}
.pickup__slideshow--li[class] img {
  width: 90%;
  height: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 60px;
}
.feature__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}

.contents {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contents__figure img {
  max-width: 100%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s, transform 0.5s;
}
.contents__figure img.active {
  opacity: 1;
  transform: translateY(0);
}
.contents__description {
  padding: 35px 30px;
}
.contents__description p:nth-child(2) {
  margin: 25px 0 30px;
}

@media (max-width: 983px) {
  .feature__grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .contents {
    max-height: none;
  }
  .contents__figure img {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 657px) {
  .feature__grid {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(9, auto);
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .contents {
    max-height: none;
  }
  .contents__figure img {
    max-width: 100%;
    width: 100%;
  }
}
.contact {
  background-color: #000;
  color: #fff;
  padding: 65px 15px 0;
  font-size: 14px;
}

.inquiry {
  display: flex;
  max-width: 1200px;
  margin: 0 auto 40px;
}
.inquiry__description {
  width: 50%;
  padding-right: 6%;
}
.inquiry__description p {
  margin-bottom: 40px;
  line-height: 1.5rem;
}

.form {
  width: 50%;
  padding-left: 6%;
}
.form input, .form textarea {
  background-color: #fff;
  line-height: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  color: #000;
}
.form input:focus, .form textarea:focus {
  outline: none;
}
.form dt {
  margin-bottom: 3px;
}
.form__button input {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  width: 200px;
  text-align: center;
}
.form__button input:hover {
  background-color: #FFF;
  color: #000;
}

.copyright {
  padding-bottom: 20px;
}
.copyright p {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 600px) {
  .inquiry {
    flex-direction: column;
  }
  .inquiry__description {
    width: 100%;
    padding-right: 0;
  }
  .form {
    width: 100%;
    padding-left: 0;
  }
  .form__button input {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */